body {
    background-color: #999;
}

header {
    color: Indigo;
    background-color: #666;
    padding: 5px;
}

    header h1 {
        margin-left: 5%;
    }

a {
    background: #ccc;
    display: block;
    float: left;
}

.new-item {
    margin-top: 15px;
    padding: 2px;
    border: 1px solid black;
}

#filter {
    list-style-type: none;
}

    #filter a {
        margin: 3px;
        padding: 2px;
        border: 1px solid black;
    }



.float-left {
    float: left;
    position: relative;
    top: -10px;
    margin-right: 15px;
}

.float-right {
    float: right;
    position: relative;
    margin: 3px;
}

.modal {
    background-color: 708090;
    border: 2px solid black;
    width: 400px;
}

#tasklist {
    clear: both;
    position: relative;
}

#projectlist {
    clear: both;
    position: relative;
}

.item {
    background-color: lightyellow;
    border: 2px solid black;
    width: 400px;
    margin: 5px;
}

    .item p {
        position: relative;
    }

    .item a {
        margin: 3px;
        padding: 2px;
        border: 1px solid black;
    }

.Doing {
    background-color: lightblue;
}

.Done {
    background-color: lightgreen;
}
