body {
    background-color: #999;
}

header {
    color: Indigo;
    background-color: #666;
    padding: 5px;
}

    header h1 {
        margin-left: 5%;
        font-size: 40px;
    }

a {
    background: #ccc;
    display: block;
    float: left;
    text-decoration: none;
    color: Chocolate;
}

#projectdutypage {
    font-size: 175%;
    margin-top: 5px;
    margin-left: 3%;
    margin-right: 5%;
    float: none;
    font-weight: bold;
}

#filter {
    list-style-type: none;
}

    #filter a {
        margin: 3px;
        padding: 2px;
        border: 1px solid black;
        color: black;
    }

#dutylist {
    clear: both;
    position: relative;
}

#projectlist {
    clear: both;
    position: relative;
}

.float-left {
    float: left;
    position: relative;
    top: -10px;
    margin-right: 15px;
}

.float-right {
    float: right;
    position: relative;
    margin: 3px;
}

.modal {
    background-color: 708090;
    border: 2px solid black;
    width: 400px;
}

.new-item {
    padding: 2px;
    border: 1px solid black;
}

.item {
    background-color: lightyellow;
    border: 2px solid black;
    width: 400px;
    margin: 5px;
}

    .item p {
        position: relative;
        margin: 3%;
    }

    .item a {
        padding: 2px;
        border: 1px solid black;
    }

    .item h3 {
        background-color: #ccc;
        color: Chocolate;
        font-size: 175%;
        border: 1px solid black;
        margin-top: -1%;
        margin-left: 3%;
        margin-right: 5%;
    }

.Doing {
    background-color: lightblue;
}

.Done {
    background-color: lightgreen;
}
